---
layout: default
title: Home
---

<div class="col-lg-12 hero">
	<div class="hero-text"><img src="{{ site.baseurl }}/assets/images/CodeForTucson_logo_dark.png" 
	 alt="Code for Tucson logo"><h1>Code for Tucson</h1></div>
</div>

<div class="container">
			
	<div class="col-lg-1"></div>
	<div class="col-lg-10 starter-template">

	<div class="col-lg-12">
		<h1 class="h0">Join us</h1>
    	<p class="lead">Code for Tucson is the Tucson chapter of the <a href="http://codeforamerica.org/brigade/about" target="_blank">Code for America Brigade</a>. We are a group of volunteer civic hackers working together to solve local issues and help people engage with the city.
		</p>
	</div>
	<div class="col-lg-12">
		<div class="col-lg-4">
				<img src="{{ site.baseurl }}/assets/images/captain.png" alt="Code for America Brigade Captain Helmet" class="call-out-img" />
			<h2>Come to our next meeting</h2>
			<p>First and third Tuesdays. Casual meetups for geeks, activists, policy makers, and journalists.</p>
			<p><a href="{{ site.baseurl }}/calendar/">Our calendar &raquo;</a></p>
		</div>

		<div class="col-lg-4">
			<img src="{{ site.baseurl }}/assets/images/community.png" alt="Community" class="call-out-img" />
			<h2>Join the discussion online</h2>
			<p>An open conversation online about Tucson, what we're doing now, and what's next.
			</p>
			<p><a href="{{ site.baseurl }}/talk/">Learn and share &raquo;</a></p>
    </div>

		<div class="col-lg-4">
			<img src="{{ site.baseurl }}/assets/images/octocat.png" alt="GitHub Octocat" class="call-out-img" />
			<h2>Join a project or start your own</h2>
			<p>Whether you're a communicator or a coder, we need you. Jump right in!</a>
			</p>
			<p><a href="{{ site.baseurl }}/projects/">Find a project &raquo;</a></p>
    </div>

	</div>
		
	<div class="col-lg-12 heading-stripe stuff-weve-made-stripe">
		<h2 class="blackish">what we're doing</h2>
		<p class='lead'>Code for Tucson creates tools, information, and experiences that serve the Old Pueblo. <br/>See a sample of our projects below, or <a href="{{ site.baseurl }}/projects/">browse the complete list here.</a> You are welcome to dive right in!</p>

	  {% for project in site.data.projects limit:2 %}
	      <article class="projects">

	      	<div class="col-lg-4">
		        <img {% if project.image %} src="{{ site.baseurl }}{{ project.image }}"{% else %}src="{{ site.baseurl }}/assets/images/captain.png"{% endif %} alt="{{project.project}}">
		      </div>

		      <div class="col-lg-8">
		        <h1>{{project.project}}</h1>
		        <p>Project Lead: {% if project.lead %}{{ project.lead }}{% else %}Coming soon!{% endif %}</p>
		        <p>Project Contact: {% if project.contact %}{{ project.contact }}{% else %}Coming soon!{% endif %}</p>
		        <p>{% if project.description %}{{ project.description }}{% else %}Coming soon!{% endif %}</p>
		        <p><a class="github-url" href="{{project.github}}"><i class="icon-github2"></i> See our work on the {{ project.project }} project &#8594;</a></p>
		      </div>

	      </article>
	    {% endfor %}
	</div>

	{% include footer.html %}

</div>

{% include global_js.html %}
