<div class="col-lg-12"><hr class="footer-divider"/></div>

<div class="col-lg-12 footer">

	<div class="col-lg-7">
		<img src="{{ site.baseurl }}/assets/images/cfa_logo_greyscale.png" alt="Code for America" />
		<p>Code for America is a non-partisan, non-political organization working to create low-risk settings for innovation between citizens and government. <a href="http://codeforamerica.org/" target="_blank">Learn more</a> about Code for America's mission and its Fellowship, Brigade, Accelerator, Peer Network and Code for All programs. <a href="https://github.com/codeforamerica/codeofconduct">Code of Conduct</a>.</p>
	</div>

	<div class="col-lg-4">
		<p>Banner image: <a href="https://www.flickr.com/photos/phunk/3076205291">Steve Rotman</a></p>
		<p>Cactus in logo: <a href="http://thenounproject.com/term/cactus/29212/">Jennifer Cozzette</a></p>
		<p>Community icon: <a href="http://thenounproject.com/term/community/5122/#_=_">Michael Rowe</a></p>
	</div>

</div>