<footer class="container-fluid footer">

<div class="row">

	<div class="col-lg-6">
		<img src="{{ site.baseurl }}/assets/images/cfa_logo_greyscale.png" alt="Code for America" />
		<p>Code for America is a non-partisan, non-political organization working to create low-risk settings for innovation between citizens and government. <a href="http://codeforamerica.org/" target="_blank">Learn more</a> about Code for America's mission and its Fellowship, Brigade, Accelerator, Peer Network and Code for All programs. <a href="https://github.com/codeforamerica/codeofconduct">Code of Conduct</a>.</p>
	</div>

	<div class="col-lg-3">
		<ul>
			<li><a href="https://www.facebook.com/groups/codefortucson"><i class="fa fa-facebook-square">&nbsp;</i>Code for Tucson</a></li>
      <li><a href="https://twitter.com/CodeforTucson"><i class="fa fa-twitter">&nbsp;</i>@CodeforTucson</a></li>
      <li><a href="mailto:codefortucson@gmail.org"><i class="fa fa-envelope">&nbsp;</i>codefortucson@gmail.com</a></li>
      <li><a href="https://github.com/CodeForTucson"><i class="fa fa-github-alt">&nbsp;</i>Code for Tucson</a></li>
    </ul>
	</div>

	<div class="col-lg-3">
		<ul>
			<li><strong>Credits</strong></li>
			<li>Banner image: <a href="https://www.flickr.com/photos/phunk/3076205291">Steve Rotman</a></li>
			<li>Cactus in logo: <a href="http://thenounproject.com/term/cactus/29212/">Jennifer Cozzette</a></li>
			<li>Community icon: <a href="http://thenounproject.com/term/community/5122/#_=_">Michael Rowe</a></li>
		</ul>
	</div>

</div>

</footer>