<!-- Basic  Page Needs
================================================== -->
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.name }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" />

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- CSS
================================================== -->
<link href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/normalize.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">

<!-- JS
================================================== -->
<!--[if IE]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->