<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/"><img src="{{ site.baseurl }}/{{ site.img_dir }}/codefortucson-mark.png" class="mark-50"></a>

    <div class="nav-collapse collapse">

      <ul class="nav navbar-nav" id="navbar-nav">
        {% capture activeClass %}class="active"{% endcapture %}
        <li {% if page.slug == 'home' %}{{ activeClass }}{% endif %}><a href="/">Code for Tucson</a></li>
        <li class="dropdown{% if page.slug == 'about' or page.slug == 'code-of-conduct' %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li {% if page.slug == 'about' %}{{ activeClass }}{% endif %}><a href="/about/">About Us</a></li>
            <li {% if page.slug == 'code-of-conduct' %}{{ activeClass }}{% endif %}><a href="/code-of-conduct/">Code of Conduct</a></li>
          </ul>
        </li>
        <li {% if page.slug == 'current-focus' %}{{ activeClass }}{% endif %}><a href="/current-focus/">What are we doing?</a></li>
        <li {% if page.slug == 'how-can-I-help' %}{{ activeClass }}{% endif %}><a href="/how-can-I-help/">How can I help?</a></li>
        <li {% if page.slug == 'calendar' %}{{ activeClass }}{% endif %}><a href="http://www.meetup.com/Code-for-Tucson/" target="_blank">Calendar</a></li>
        <li {% if page.slug == 'talk' %}{{ activeClass }}{% endif %}><a href="http://www.meetup.com/Code-for-Tucson/messages/boards/" target="_blank">Talk</a></li>
        <li {% if page.slug == 'projects' %}{{ activeClass }}{% endif %}><a href="/projects/">Projects</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/groups/codefortucson"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/CodeforTucson"><i class="fa fa-twitter"></i></a></li>
        <li><a href="mailto:codefortucson@gmail.org"><i class="fa fa-envelope"></i></a></li>
      </ul>

    </div><!--/.nav-collapse -->

  </div>
</div>
