<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index.html"><img src="{{ site.baseurl }}/assets/images/codefortucson-mark.png"/ class="mark-50"></a>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav" id="navbar-nav">
        <li><a href="/index.html">Code for Tucson</a></li>
        <li><a href="/calendar/">Calendar</a></li>
        <li><a href="/talk/">Talk</a></li>
        <!-- <li><a href="https://github.com/codefortucson" target="_blank">Projects</a></li> -->
        <li><a href="/projects/">Projects</a></li>
        <li><a href="https://www.facebook.com/groups/codefortucson"><i class="fa fa-facebook-square">&nbsp;</i>Code for Tucson</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
