---
layout: subpage
title: Projects
permalink: /projects/
---

<div class="col-lg-10">
	{% for project in site.data.projects %}
      <article class="projects row">

      	<div class="col-lg-4">
        	<img {% if project.image %} src="{{ site.baseurl }}{{ project.image }}"{% else %}src="{{ site.baseurl }}/assets/images/captain.png"{% endif %} alt="{{project.project}}">
        </div>

        <div class="col-lg-8">
	        <h1>{{project.project}}</h1>
	        <p>Project Lead: {% if project.lead %}{{ project.lead }}{% else %}Coming soon!{% endif %}</p>
	        <p>Project Contact: {% if project.contact %}{{ project.contact }}{% else %}Coming soon!{% endif %}</p>
	        <p>{% if project.description %}{{ project.description }}{% else %}Coming soon!{% endif %}</p>
	        <p><a class="github-url" href="{{project.link}}"> {{ project.intro }} {{ project.project }}! &#8594;</a></p>
	      </div>

      </article>
    {% endfor %}
</div>
