<!DOCTYPE html>
<html lang="en">
  <head>

    {% include head.html %}

  </head>

  <body>
    {% include google_tracking.html %}

    {% include navbar.html %}

    <div class="col-lg-12 hero">
			<div class="hero-text"><img src="{{ site.baseurl }}/{{ site.img_dir }}/CodeForTucson_logo_dark.png" alt="Code for Tucson logo"><h1>Code for Tucson</h1></div>
		</div>

		<div class="container center-home">

			<div class="row">
        <div class="col-lg-8 subpage-title">
				  <h1 class="h0">{{ page.title }}</h1>
        </div>

    		{{ content }}

    	</div>
    </div>

    {% include footer.html %}

    {% include global_js.html %}

  </body>
</html>
